---
interface Props {
	title: string;
    desc: string;
    tech: string;
    github: string;
    site?: string;
}

const { title, desc, tech, github, site } = Astro.props;
---

<div class="px-4 py-5 card rounded-2xl">
    <h3 class="pb-1 text-xl font-bold">{title}</h3>
    <h4 class="pb-2 text-sm italic text-neutral-500">{desc}</h4>
    <p class="text-primary">{tech}</p>
    <div class="flex items-center justify-end gap-4 pt-2 text-end">
        <a href={github} target="_blank" class="px-2 rounded-full github">
            <p class="text-sm font-bold">Github</p>
        </a>
        {
            site &&(
                <a href={site} target="_blank" class="px-2 rounded-full view-site">
                    <p class="text-sm font-bold">View site</p>
                </a>
            )
        }
    </div>
    
</div>

<style>
    .card{
        background-color: rgba(0, 0, 0, 0.8);
        border: 1px solid #efeecc0f;
    }
    
    .view-site:hover{
        background-color: #fe0557;
        transition: all 0.1s;
    }
    .github:hover{
        background-color: rgb(102, 0, 211);
        transition: all 0.1s;
    }
</style>